# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
Build
C/iNotifyConstants.c
Data/iNotifyConstants
Lua/iNotify/Constants.lua
